:root {
    --ff: 'Inter', sans-serif;

    --fs-52: 3.5vw;
    --fs-40: 2.3vw;
    --fs-32: 1.85vw;
    --fs-28: 1.62vw;
    --fs-20: 1.16vw;
    --fs-18: 1.05vw;
    --fs-16: 0.925vw;

    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;

    --lh-prct: 150%;
    --lh-45: 2.6vw;
    --lh-30: 1.74vw;
    --lh-28: 1.62vw;
    --lh-24: 1.4vw;

    --blue-400: rgba(76, 110, 245, 1);
    --blue-500: rgba(54, 79, 199, 1);
    --grey-800: rgba(25, 28, 31, 1);
    --grey-700: rgba(33, 37, 41, 1);
    --grey-600: rgba(52, 58, 64, 1);
    --grey-500: rgba(134, 142, 150, 1);
    --grey-400: rgba(173, 181, 189, 1);
    --grey-300: rgba(206, 212, 218, 1);
    --grey-200: rgba(237, 242, 255, 1);
    --grey-100: rgba(248, 249, 250, 1);

    --cpnt-w: 26vw;
    --cpnt-h: 3.5vw; 
    
    --padding-100: 5.8vw;
}