/* Geral Config */
body {
    font-family: var(--ff);
    height: 100vh;
}

.container {
    width: 76.35vw;
    margin-inline: auto;
}

.grey-400 {
    color: var(--grey-400);
}

.grey-200 {
    color: var(--grey-200);
}

.grey-100 {
    color: var(--grey-100);
}

.cpnt {
    height: var(--cpnt-h);
    width: var(--cpnt-w);
}

.config-name {
    font-size: var(--fs-28);
    font-weight: var(--fw-500);
}

.config-text {
    font-size: var(--fs-18);
    font-weight: var(--fw-400);
    line-height: var(--lh-prct);
}